<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/delivery.css">

    <title>delivery</title>
</head>
<body>

    <!-- Encabezado -->
    <header>
        <a href="#"><img src="../storage/img/img-delivery/Back.png" alt="Back"></a>
        <button><img src="../storage/img/img-delivery/icon-location.png" alt="Menu"></button>
    </header>

    <!-- Contenido principal -->
    <main>
        <div class="map">
            <iframe src="URL_DEL_MAPA"></iframe>
        </div>

        <section class="delivery-info">
            <img src="../storage/img/img-delivery/Indicator.png" alt="">
            <h2>10 minutes left</h2>
            <p>Delivery to <strong>Jl. Kpg Sutoyo</strong></p>
            <div class="progress-bar">
                <div class="progress"></div>
                <img src="../storage/img/img-delivery/icon-Rectangle-1.png" alt="">
                <img src="../storage/img/img-delivery/icon-Rectangle-2.png" alt="">
                <img src="../storage/img/img-delivery/icon-Rectangle-3.png" alt="">
                <img src="../storage/img/img-delivery/icon-Rectangle-4.png" alt="">
            </div>
        </section>

        <section class="status">
            <p>Delivered your order</p>
        </section>
    </main>

    <!-- Información del repartidor -->
    <footer>
        <div class="courier-info">
            <img src="../storage/img/img-delivery/Deliver.png" alt="Repartidor">
            <div>
                <img src="../storage/img/img-delivery/men.png" alt="foto del repartidor">
                <h3>Brooklyn Simmons</h3>
                <p>Personal Courier</p>
                <img src="../storage/img/img-delivery/icon-Call.png" alt="">
            </div>
        </div>
    </footer>

</body>
