<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/delivery.css">
    <link rel="stylesheet" href="../css/variables.css">
    <title>Delivery</title>
</head>
<body>
    <header>
        <div>
            <a class="Back" href="#"><img src="../storage/img/img-delivery/Back.png" alt="Back"></a>
            <button class="button-location"><img src="../storage/img/img-delivery/icon-location.png" alt="Location"></button>
        </div>
    </header>

    <main class="main-container">
        <div class="map-box">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2032030.4882659502!2d-74.95961881045308!3d5.882367674891082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683f18ef59f9a1%3A0xffbf118f3e8f20c!2sZona%20Franca%20Santander!5e0!3m2!1ses!2sco!4v1740581963365!5m2!1ses!2sco" 
                width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>

        <section class="delivery-container">
            <div class="delivery-box">
                <img src="../storage/img/img-delivery/Indicator.png" alt="Indicator">
                <h2>10 minutes left</h2>
                <p class="subtitle">Delivery to <strong>Jl. Kpg Sutoyo</strong></p>
                <div class="progress-bar">
                    <div class="progress"></div>
                    <img src="../storage/img/img-delivery/icon-Rectangle-1.png" alt="">
                    <img src="../storage/img/img-delivery/icon-Rectangle-2.png" alt="">
                    <img src="../storage/img/img-delivery/icon-Rectangle-3.png" alt="">
                    <img src="../storage/img/img-delivery/icon-Rectangle-4.png" alt="">
                </div>
            </div>
        
            <div class="delivery-status">
                <img src="../storage/img/img-delivery/Deliver.png" alt="Delivery Icon">
                <div class="delivery-status-content">
                    <strong>Delivered your order</strong>
                    <p>We will deliver your goods to you in the shortest possible time.</p>
                </div>
            </div>

            <div class="courier-info">
                <img class="courier-img" src="../storage/img/img-delivery/men.png" alt="Courier Photo">
                <div class="courier-details">
                    <h3>Brooklyn Simmons</h3>
                    <p>Personal Courier</p>
                </div>
                <button class="call-button">
                    <img src="../storage/img/img-delivery/icon-Call.png" alt="Call">
                </button>
            </div>
        </section>
    </main>
</body>
</html>
