<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caffe Mocha Detail</title>
    <link rel="stylesheet" href="../css/detail-item.css">
</head>
<body>
    <header> 
        <button class="back-btn"><img src="../storage/img/Stroke 1.png" alt="back-btn"></button>
        <h3 class="Detail">Detail</h3>
        <button class="favorite-btn"><img src="../storage/img/Heart.png" alt="Favorite"></button>
    </header>
    <main>
        <div class="image-container">
            <img src="../storage/img/Coffee.png" alt="Caffe Mocha">
        </div>
        <section class="info">
            <div>
                <div>
                    <h2 class="CafeMocha">Caffe Mocha</h2>
                </div>
                <div class="icons">
                    <p class="Ice-Hot">Ice/Hot</p>
                    <img src="../storage/img/Icon-Motorcycle.png" alt="Delivery">
                    <img src="../storage/img/Icon-Cacao.png" alt="Cacao">
                    <img src="../storage/img/Icon-Milk.png" alt="Milk">
                </div>
            </div>
            <div class="rating">
                <img src="../storage/img/Star.png" alt="Star">
                <div class="rating2">4.8</div>
                <span> (230)</span>
            </div>
</body>
</html>