<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe Shop Mobile App</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <div class="main_header">
            <h1>Location</h1>
            <p class="region">Bilzen, Tanjungbalai</p><img class="Down_arrow_icon" src="../storage/img/Home/Down-arrow-icon.png" alt="Down-arrow-icon">
            <div class="search">
                <label for="search"></label>
                <input class="search_coffee" type="search" name="search" id="search" placeholder="Search coffee">
                <img class="menu_icon" src="../storage/img/Home/Menu-icon.png" alt="Menu-icon">
            </div>
            <div class="Promo">
                <p class="Promotxt">Promo</p>
                <img class="Banner" src="../storage/img/Home/Banner.png" alt="Banner">
            </div>
        </div>
    </header>
</body>
</html>