<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe Shop Mobile App</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <div class="main_header">
            <h1>Location</h1>
            <p class="region">Bilzen, Tanjungbalai</p><img src="../storage/img/Home/Down-arrow-icon.png" alt="Down-arrow-icon">
            <div class="Search_coffee">
                <label class="search" for="search"></label>
                <input class="main_input" type="search" name="search" id="search" placeholder="Search coffee">
            </div>
        </div>
    </header>
</body>
</html>