<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe Shop Mobile App</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <div class="main_header">
            <h1>Location</h1>
            <p class="region">Bilzen, Tanjungbalai</p><img class="Down_arrow_icon" src="../storage/img/Home/Down-arrow-icon.png" alt="Down-arrow-icon">
            <div class="search">
                <label for="search"></label>
                <input class="search_coffee" type="search" name="search" id="search" placeholder="Search coffee">
                <img class="menu_icon" src="../storage/img/Home/Menu-icon.png" alt="Menu-icon">
            </div>
            <div class="Promo">
                <p class="Promotxt1">Promo</p>  <img class="Line1" src="../storage/img/Home/Line1.png" alt="Line1" > <img class="Line2" src="../storage/img/Home/Line2.png" alt="Line2">
                <p class="Promotxt2">Buy one get <br>one FREE</p>
            <img class="Banner" src="../storage/img/Home/Banner.png" alt="Banner">
        </div>
    </header>
</form>
<ul class="nav__categoria">
    <li class="select"><a href="#">All Coffee</a></li>
    <li><a href="#">Machiato</a></li>
    <li><a href="#">Latte</a></li>
    <li><a href="#">Americano</a></li>
</ul>
</nav>
<main>
<section class="section__productos">
    <article class="article__contenedora">
        <img src="../storage/img/Home/Coffee1.png"> 
        <div class="star__rating">
            <img class="Star" src="../storage/img/Home/Star-icon.png" alt="Star">
            <span class="rating">4.8</span>
        </div>
        <div class="div__informacion">
            <strong>Caffe Mocha</strong>
            <p>Deep Foam</p>
        </div>
        <div class="div__comentarios">
            <div class="div__valoracion">
                <label>$ 4.53</label>
                <img src="../storage/img/Home/Plus-icon.png">
            </div>
        </div>
    </article>
    <article class="article__contenedora">
        <img src="../storage/img/Home/Coffee2.png">
        <div class="star__rating">
            <img class="Star" src="../storage/img/Home/Star-icon.png" alt="Star">
            <span class="rating">4.8</span>
        </div>
        <div class="div__informacion">
            <strong>Flat White</strong>
            <p>Espresso</p>
        </div>
        <div class="div__comentarios">
            <div class="div__valoracion">
                <label>$ 3.53</label><img src="../storage/img/Home/Plus-icon.png">
            </div>
        </div>
    </article>
    <article class="article__contenedora">
        <img src="../storage/img/Home/Coffee3.png">
        <div class="star__rating">
            <img class="Star" src="../storage/img/Home/Star-icon.png" alt="Star">
            <span class="rating">4.8</span>
        </div>
        <div class="div__informacion">
            <strong>Mocha Fusi</strong>
            <p>Ice/Hot</p>
        </div>
        <div class="div__comentarios">
            <div class="div__valoracion">
                <label>$ 7.53</label><img src="../storage/img/Home/Plus-icon.png">
            </div>
        </div>
    </article>
    <article class="article__contenedora">
        <img src="../storage/img/Home/Coffee4.png">
        <div class="star__rating">
            <img class="Star" src="../storage/img/Home/Star-icon.png" alt="Star">
            <span class="rating">4.8</span>
        </div>
        <div class="div__informacion">
            <strong>Caffe Panna</strong>
            <p>Ice/Hot</p>
        </div>
        <div class="div__comentarios">
            <div class="div__valoracion">
                <label>$ 5.53</label><img src="../storage/img/Home/Plus-icon.png">
        </div>
    </article>
</section>
</main>
</body>
</html>