<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>
    <link rel="stylesheet" href="../css/order.css">
</head>
<body>
    <header>
        <div class="superior">
            <button class="back">
                <img src="../storage/img/back.png" alt="volver atras">
            </button>
            <span class="titulo">Order</span>
        </div>
        <div class="botones">
            <button class="boton-1">Deliver</button>
            <button class="boton-2">Pick Up</button>
        </div>
    </header>
    <main>
        <div class="direcciones">
            <span>Delivery Address</span>
            <span>Jl. Kpg Sutoyo</span>
            <span>Kpg. Sutoyo No. 620, Bilzen, Tanjungbalai.</span>
            <button class="boton-3"></button>
            <button class="boton-4"></button>
        </div>





    </main>
</body>
</html>