
/* Estilos generales */

body {
    padding: 0;
    margin: 0;
}

/* Ajustar tamaño del botón Back */
.Back {
    position: absolute;
    top: 40px;
    left: 24px;
    width: auto; /* Elimina restricciones de ancho */
}

/* Botón de ubicación en la esquina superior derecha */
.button-location {
    position: absolute;
    top: 40px;
    right: 24px;
    width: 40px;
    height: 40px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

/* Ajustar tamaño de los íconos dentro de los botones */
.Back img, .button-location img {
    width: 40px;
    height: 40px;
}

/* Caja que contiene el mapa */
.map-box {
    width: 100%; /* Puedes ajustar el ancho aquí, por ejemplo: 80% o 600px */
    max-width: 700px; /* Limita el ancho máximo del mapa */
    margin: 0 auto; /* Centra el mapa */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

/* Estilo del iframe (mapa) */
.map-box iframe {
    width: 100%; /* Hace que el iframe ocupe todo el ancho de la caja */
    height: 520px; /* Ajusta la altura del mapa, puedes poner cualquier valor que desees */
    border: 0; /* Elimina el borde del mapa */
}


.delivery-container {
    background: violet  ;
    border-radius: 20px 20px 0 0; /* Bordes curvados solo arriba */
    padding: 30px;
    margin: 0;
    width: center;
}

.delivery-box {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-top: -15px;
}
.delivery-box img:first-child {
    left: 10px;
    width: 50px;
}


.delivery-box img {
    width: 86px;
    height: 6px;
}

/* Información del repartidor */
.footer-container {
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.courier-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.courier-img {
    width: 50px;
    height: 50px;
    border-radius: 15%;
}

.courier-details h3 {
    margin: 0;

    font-size: 16px;
}

.courier-details p {
    margin: 0;
    font-size: 14px;
}

.call-button {
    background: none;
    border: none;
    cursor: pointer;
}

.call-button img {
    width: 30px;
    border: 2px solid black;
    border-radius: 15%;
}











