@import url(variables.css);

body {
    background-color: var(--color-1);
    color: var(--color-5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.Detail{
    font-family: "Sora-SemiBold";
}

.CafeMocha{
    font-family: "Sora-SemiBold";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 400px;
    padding: 3px;
}

.back-btn, .favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.image-container {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    display: flex;
    margin-top: 15px;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}