@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(250deg, var(--color-10) 75%, var(--color-11));
    display: flex;
    height: 340px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.main_header {
    margin: 30px;
    margin-top: 50px;
}

h1 {
    font-family: "Sora-Regular";
    font-weight: 400;
    font-size: 18px; /* Valor fijo o puede sustituirse por una unidad relativa si lo prefieres */
    color: var(--color-4);
}

.region {
    display: inline-flex;
    margin-top: 10px;
    font-family: "Sora-SemiBold";
    font-size: 20px;
    color: var(--color-12);
}

.Down_arrow_icon {
    position: relative;
    top: 2px;
    left: 10px;
    width: 18px;
    margin-left: auto; /* Se alinea al final del contenedor */
}

.search {
    display: flex;
    align-items: center;
}

.search_coffee {
    background-color: var(--color-13);
    background-image: url(../storage/img/Home/Search-icon.png); /* Icono de búsqueda */
    background-size: 25px 25px;
    background-position: 15px center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 10px;
    margin-top: 30px;
    padding-left: 50px;
    padding-top: 2px;
    /* width relativa y definimos límites con max-width y min-width */
    width: 90%;
    max-width: 430px;
    min-width: 200px;
    height: 80px;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    border: none;
    font-family: "Sora-Regular";
    color: var(--color-12);
}

.menu_icon {
    padding: 23px;
    background-position: center;
    margin-top: 32px;
    margin-left: 15px;
    border-radius: 20px;
    width: 75px;
    height: 78px;
    background-color: var(--color-3);
}

.Promo {
    position: relative;
    width: 100%;
    max-width: 600px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra el contenedor */
}

.Banner {
    width: 100%;
    border-radius: 20px;
    height: auto; /* La altura se ajusta proporcionalmente */
}

.Promotxt1{
    position: absolute;
    background-color: var(--color-15);
    width: 70px;
    border-radius: 10px;
    height: 30px;
    align-content: center;
    text-align: center;
    top: 30px;
    margin-left: 25px;
    font-family: "Sora-SemiBold";
    color: var(--color-1);
    margin-right: 10px;
}

.Promotxt2{
    font-family: "Sora-SemiBold";
    position: absolute;
    color: var(--color-1);
}
